@media (max-width: 1100px) {
    .container {
        height: 500px;
        width: 500px;

        .box {
            border: 8px solid black;
        }
    }
}

@media (max-width: 500px) {
    .score-container {
        margin-top: 20px;
        width: 280px;
        
        .score-mini {
            font-size: 2.5rem;
        }
    }

    .container {
        height: 350px;
        width: 350px;

        .box {
            font-size: 4rem;
            border: 6px solid black;
        }
    }

    
}

// phone rotation
@media (max-height: 720px) {
    .msg {
        font-size: 1.8rem;

        &-capital {
            font-size: 2.6rem;
        }
    } 

    .container {
        height: 350px;
        width: 350px;

        .box {
            font-size: 4rem;
            border: 6px solid black;
        }
    }
}

@media (max-height: 570px) {
    .score-container {
    
        .score-mini {
            font-size: 2.5rem;
        }
    }

    .container {
        height: 270px;
        width: 270px;

        .box {
            font-size: 3rem;
            border: 4px solid black;
        }
    }

    .msg {
        display: none;
    }
}