.container-bg {
    width: 100%;
    height: 700px;
    background-color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;

    .winner-line {
        display: none;
        position: absolute;
        top: 50%;
        width: 100%;
        height: 10px;
        opacity: 0;
        background-color: $grayDark;
        transform: none;
        transition: opacity 750ms;
    }

    .box {
        border: 9px solid $black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
        background-color: transparent;

        &:hover {
            cursor: pointer;
        }
    }
}