// COLORS
$darkBlue1: #16315b;
$darkBlue2: #00205b;
$darkGray1: #bfbfbf;


body.dark {
    background-color: $darkBlue1;
    color: $darkGray1;
}



// TOP
.settings-container.dark {
    background-color: $black;
    color: $darkGray1;
    border: 1px solid $darkBlue2;

    .difficulty-container {

        .btn-difficulty.dark {
            color: $white;
        }
    }

    .LDZoid.dark {
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
    }
}

// MID
.container-bg.dark {
    background-color: $black;
}
.container {
    .winner-line.dark {
        background-color: $white;
    }

    .box.dark {
        border: 9px solid $darkBlue2;
        color: $white;
    }
}

// BOT
.btn-restart.dark {
    color: $white;
}



