.score-container {
    width: 400px;
    display: flex;

    .score-mini {
        width: 50%;
        display: flex;
        justify-content: space-around;
        font-size: 3rem;
        align-items: flex-end;
    }
}

.btn-settings {
    position: absolute;
    background-image: url('images/cog-solid.svg');
    width: 35px;
    height: 35px;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    transition: transform 500ms;

    &:hover {
        cursor: pointer;
        transform: rotate(90deg);
    }
}

.settings-container {
    position: absolute;
    z-index: -1;
    background-color: #ffffff;
    border: 2px solid black;
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .settings-title {
        font-weight: 500;
        margin-top: 20px;
    }

    label {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            width: 20px;
            height: 20px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    p {
        display: inline;
        font-size: 1.4rem;
    }

    .difficulty-container {
        width: 90%;
        display: flex;
        justify-content: space-between;

        .btn-difficulty {
            border: none;
            background-color: transparent;
            font-size: 1.3rem;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .btn-reset-score {
        border: 1px solid black;
        width: 110px;
        height: 30px;
        font-size: 1rem;

        &:hover {
            cursor: pointer;
            background-color: #cfcfcf;
        }
    }

    .LDZoid {
        width: 60%;
        text-align: center;
        font-size: 1rem;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin-bottom: 10px;
    }
    // .LDZoid.dark {
    //     border-top: 1px solid #ffffff;
    //     border-bottom: 1px solid #ffffff;
    // }
}