.score-container {
    width: 400px;
    display: flex;

    .score-mini {
        width: 50%;
        display: flex;
        justify-content: space-around;
        font-size: 3rem;
        align-items: flex-end;
    }
}

.btn-settings {
    position: absolute;
    background-image: url('images/cog-solid.svg');
    width: 35px;
    height: 35px;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    transition: transform 500ms;

    &:hover {
        cursor: pointer;
        transform: rotate(90deg);
    }
}