* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    min-width: 350px;
}

.score-container {
    width: 400px;
    display: flex;

    .score-mini {
        width: 50%;
        display: flex;
        justify-content: space-around;
        font-size: 3rem;
        align-items: flex-end;

        h3 {
            height: 78px;
        }
    }
}

.container-bg {
    width: 100%;
    height: 700px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    .box {
        border: 9px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
        background-color: transparent;

        &:hover {
            cursor: pointer;
        }
    }
}

.btn-restart {
    width: 100px;
    height: 45px;
    font-size: 1rem;

    &:hover {
        cursor: pointer;
    }
}

.msg-capital {
    font-size: 2.5rem;
}

@media (max-width: 1100px) {
    .container {
        height: 500px;
        width: 500px;
    }
}

@media (max-width: 500px) {
    .container {
        height: 350px;
        width: 350px;

        .box {
            font-size: 4rem;
        }
    }

    
}