* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    min-width: 350px;
    overflow: hidden;
}
body.dark {
         background-color: #16315b;
         color: #bfbfbf;
     }

@import "top"; // everything above yellow container
@import "mid"; // everything in yellow container
@import "bot"; // everything below yellow container

// file for mobile responsivness
@import "media-queries";


// dark theme specs
// body {
//     background-color: #16315b;
//     color: #bfbfbf;
// }

// .container-bg {
//     background-color: #000;
// }

// .box {
//     border: 9px solid #00205b;
//     color: #ffffff;
// }

// .btn-restart {
//     color: #ffffff;
// }

// .winner-line {
//     background-color: #ffffff;
// }

// .settings-container {
//     background-color: #000;
//     color: #bfbfbf;
//     border: 1px solid #00205b;
// }
// .LDZoid {
//     border-top: 1px solid #ffffff;
//     border-bottom: 1px solid #ffffff;
// }
// .btn-difficulty {
//     color: #fff;
// }