* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    min-width: 350px;
    overflow: hidden;
}

@import "top"; // everything above yellow container
@import "mid"; // everything in yellow container
@import "bot"; // everything below yellow container

// file for mobile responsivness
@import "media-queries";