* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    min-width: 350px;
}

.score-container {
    width: 400px;
    display: flex;
    margin-bottom: 20px;

    .score-mini {
        width: 50%;
        display: flex;
        justify-content: space-around;
        font-size: 3rem;
        align-items: flex-end;
    }
}

.container {
    display: grid;
    background-color: #707070;
    width: 600px;
    height: 600px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    .box {
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5rem;

        &:hover {
            cursor: pointer;
            background-color: #7c7c7c;
        }
    }
}

.btn-restart {
    width: 100px;
    height: 45px;
    font-size: 1rem;
    margin: 20px;

    &:hover {
        cursor: pointer;
    }
}

.msg-capital {
    font-size: 2.5rem;
}

@media (max-width: 1100px) {
    .container {
        height: 500px;
        width: 500px;
    }
}

@media (max-width: 500px) {
    .container {
        height: 350px;
        width: 350px;
    }
}